div {
    width: 40%;
    padding: 2%;
}

label{
    width:100%;
    margin:1%;
}

input {
    display:block;
    width: 45%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
}

textarea {

    width: 100%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
    font-family: Courier New, Courier, monospace;
}

@media screen and (max-width:500px)
{
    div {
        width: 100%;
        padding: 2%;
    }

    label{
        width:100%;
        margin:1%;
    }

    input {
        display:block;
        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
    }

    textarea {

        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
        font-family: Courier New, Courier, monospace;
        height:100px;
    }
}

h1{
    padding-left: 5%;
    color: gold;
}